body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FFDDC1; /* Color pastel */
}

#letras-container, #vocales-container {
    margin: 20px;
}

button {
    font-size: 2em;
    padding: 10px 20px;
    margin: 10px;
}

#resultado {
    font-size: 3em;
    color: #333;
    margin-top: 20px;
}